@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Home" asp-action="Index" method="post">
    <label>Subreddit Name:  </label> <br />
    <input asp-for="SubRedditName" /> <br /><br />
    <label for="fader">Sentiment</label>
    <div style="white-space:nowrap;">
        <span style="display:inline-block;position:relative;top:-8px">More Negative</span>
        <input asp-for="SentimentFilter" type="range" min="1" max="9" id="fader" style="width:50%;display:inline-block" />
        <span style="display:inline-block;position:relative;top:-8px">More Positive</span>
    </div>
    <button type="submit">Go</button>
</form>

@foreach (var item in Model.RedditItems)
{
    <div>@item.Score (@item.Sentiment): <b><a target="_blank" href="@item.StoryUrl">@item.Title</a></b> <a href="@item.DiscussionUrl">discuss</a></div>

}
<br />
<p>
Legend:
    <ul>
        <li>The first number is the Reddit Score for the story.</li>
        <li>The number in parenthesis is the sentiment score. (0 is more negative, 1 is more positive)</li>
        <li>The main text is the title of the Reddit story.</li>
        <li>The discuss link will take you to the discussion on Reddit.</li>
    </ul>
</p>